* {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}
a:hover{
    color: red;

}
.cabecalho {
    width: 100%;
    height: 15vh;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 30%;

}

.logo img {
    width: 50%;
}

.menu {
    color: #ffffff;
    width: 35%;
}

.menu nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.inicio {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inicio img {
    width: 90%;
    object-fit: cover;
    height: 100%;
}

.sobre {
    background-color: #202020;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobre .imgSobre {
    width: 45%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre .imgSobre img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sobre .textoSobre {
    width: 50%;
    height: 70%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-justify: center;
    font-size: larger;
}

.textoSobre .cabecalhoSobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textoSobre .historiaSobre {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.curiosidade {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.curiosidade .cabecalhoCuriosidade {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.curiosidade .curiosidades {
    width: 100%;
    height: 94%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.curiosidades .cardCuriosidade {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 24px;
    background: #e0e0e0;
    box-shadow: 13px 13px 0px #cccccc,
        -13px -13px 0px #f4f4f4;


}

footer {
    background-color: #E92227;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.conteudoFooter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudoFooter .logoFooter {
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudoFooter .logoFooter img{
    width: 100%;

}
.redesFooter{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redesFooter ul {
    font-size: larger;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.redesFooter ul li{
    transition: 0.4s;
}
.redesFooter ul li:hover{
    transform: scale(1.3);
    cursor: pointer;
}